*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/build.gradle
/gzcar/build.gradle
/gradle/wrapper/gradle-wrapper.properties
/gradle.properties
/gradle/
